* {
  box-sizing: border-box;
}


.active-drop-container {
  border: 2px dashed grey !important;
  background: rgb(140, 176, 188) !important;
}

/* src/GridContainer.css */
.grid-container {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
}

.grid-item {
  background-color: #0074d9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid #0056b3;
  cursor: pointer;
}

.draggable-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}